/* Resume.css */

.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center; /* Center the text */
  color: #000; /* Change text color to black for better contrast against the white background */
}

.resume-block {
  width: 100%;
  margin-bottom: 20px;
}

.icon {
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.timeline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.timeline-item h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #007bff;
}

.timeline-item p {
  font-size: 1em;
  color: #333;
}

.carousel .slide {
  background: none;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  border: none;
}

.carousel .control-next.control-arrow:before {
  content: '>';
}

.carousel .control-prev.control-arrow:before {
  content: '<';
}

.carousel .control-dots .dot {
  box-shadow: none;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  box-shadow: none;
  background: #007bff;
}

.carousel .thumbs-wrapper {
  margin: 20px 0;
}

.carousel .thumb {
  border: none;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: none;
}
