.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px; /* Adjust the padding as needed */
  background-color: #fff; /* Or any color you prefer */

}

.header-content {
  width: 100%;
  max-width: 1200px; /* Adjust based on your max container width */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px; /* Adjust the size as needed */
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px; /* This sets the space between your nav items */
  margin: 0 10px; /* Adjust margin as needed for spacing */
}

.nav a {
  text-decoration: none;
  color: black; /* Adjust the text color as needed */
  font-weight: bold; /* If you want the text to be bold */
}

.icon-group {
  display: flex;
  gap: 20px; /* This sets the space between your icons */
  align-items: center;
}

.icon-group a {
  color: black; /* This sets the icon color */
  font-size: 24px; /* Adjust the size as needed */
  text-decoration: none; /* Removes underline from links */
}

.nav-toggle {
  display: none; /* Hide the nav-toggle if it should only show on mobile */
}

/* Hover effect for icons and links */
.nav a:hover, .icon-group a:hover {
  color: #666; /* Darken icon and text color on hover */
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    justify-content: center;
  }

  .nav {
    order: 3;
    gap: 15px; /* Smaller gap for smaller screens */
  }

  .icon-group {
    order: 2;
  }

  .logo {
    order: 1;
    margin-bottom: 10px; /* Add space below logo */
  }

  .nav-toggle {
    order: 4;
    display: block; /* Show the nav-toggle on mobile */
  }
}
