/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

:root {
    --primary-color: #0056b3; /* Primary color for your theme */
    --secondary-color: #EFDDB2; /* Secondary color */
    --font-family: 'Arial', sans-serif; /* Main font family */
}

.App {
    font-family: var(--font-family);
    color: var(--secondary-color);
}

/* Other global styles */
